#section-02 {
      max-width: 100%;
      /* height: 700px; */
      height: 80vh;
      overflow: hidden;
}

#section-02 .block {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100vh;
}

#section-02 .logo {
      width: 295px;
      height: 135px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
      background-image: url('../img/icon/logo-color-02.png');
      background-size: cover;
}

#section-02 .block-flex {
      width: 100%;
      /* height: 100vh; */
      height: 80vh;
      display: flex;
}

#section-02 .block-flex .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
}

#section-02 .block p {
      margin-bottom: 10px;
}

#section-02 .block h2 {
      margin-bottom: 40px;
}

video {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
}

#section-02 .bg {
      width: 100%;
      /* height: 700px; */
      height: 80vh;
      position: relative;
      overflow: hidden;
}

@media (max-width:576px) {
      #section-02 .logo {
            margin-top: 5%;
      }
}