#section-01 {
      width: 100%;
      height: 100vh;
}

#section-01 .LOGO {
      margin-right: 8%;
}

#section-01 .LOGO img {
      width: 100%;
}

#section-01 .title {
      position: absolute;
      top: 50%;
      width: 100%;
      text-align: center;
}

#section-01 .title h1 {
      color: #FFDA8F;
      font-size: 70px;
}


#section-01 .bg {
      position: relative;
}

#section-01 .bg img {
      max-width: 100%;
      height: auto;
      position: absolute;
      z-index: -1;
}

#section-01 .mask.pc {
      width: 100%;
      height: 56.05vw;
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      z-index: -1;
}

/* 開關 */
#section-01 .pc {
      position: absolute;
      width: 100%;
}

#section-01 .mob {
      display: none;
}

/* navbar */
#section-01 .nav-item a {
      font-size: 25px;
      border: 700;
      color: #FFDA8F;
}

#section-01 .navbar-light .navbar-nav .nav-link {
      color: #ffd98e60;
}

#section-01 .navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
      color: #ffd98e80;
      border: 500;
}

#section-01 .navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
      color: #FFDA8F;
}

#section-01 .navbar-expand-lg .navbar-collapse {
      margin-top: auto;
}

#section-01 .pc .navbar {
      padding-top: 50px;
      background-color: transparent !important;
}

/* #chc01,#chc02,#chc03{
      color:#FFDA8F;
} */


@media (max-width:996px) {
      #section-01 {
            width: 100%;
            height: 66vh;
      }
      #section-01 .LOGO img {
            width: unset;
      }

      #section-01 .title {
            top: 25%;
            z-index: 0;
      }

      #section-01 .section-block.mob {
            z-index: 1;
      }

      /* 手機版 */
      #section-01 .mob .container-fluid {
            padding: 0;
      }

      #section-01 .mob button {
            margin-top: 20px;
      }

      #section-01 .mob-bg {
            background-image: url("../img/01-about/about_01-phone.png");
            background-size: cover;
            height: 66vh;
            background-repeat: no-repeat;
            position: absolute;
            z-index: -1;
      }

      #section-01 .mask.mob {
            width: 100%;
            height: 66vh;
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 0;
            z-index: -1;
      }

      /* navbar */
      #section-01 .bg-light {
            background-color: #0f24388e !important;
      }

      .navbar-nav {
            height: calc(100vh - 56px);
      }

      .navbar-nav li:nth-child(1) {
            margin-top: 25px;
      }



      .navbar-expand-lg .navbar-collapse {
            margin-top: auto;
      }

      .nav-link {
            line-height: 50px;
            text-align: center;
      }

      /* 開關 */
      #section-01 .pc {
            display: none;
      }

      #section-01 .mob {
            display: block;
            position: absolute;
            width: 100%;
            /* z-index: 2; */
      }
}