
* {
      box-sizing: border-box;
      /* border: 2px solid black; */
}

body {
      padding: 0px;
      margin: 0px;
}

#menu {
      width: 100%;
      height: 1500px;
      background-color:#BFD0FF;
}

#page_04_title {
      max-width: 100%;
      height: 220px;
      background-color: #BFD0FF;
      font-size: 45px;
      text-align: center;
      line-height: 220px;
      color: #242E6D;
}

#menu_main {
      max-width: 1050px;
      height: calc(100vh - 220px);
      background-color: #BFD0FF;
      margin-left: auto;
      margin-right: auto;
}
.menu_box_L {
      width: 15%;
      height: 50px;
      background-color: rgba(0, 0, 0, 0);
      float: left;
}

.menu_box_R {
      width: 85%;
      height: 100%;
      background-color: #BFD0FF;
      float: left;
}

h3 {
      font-size: 25px;
      color: #242E6D;
      font-family: 微軟正黑體;
}

p {
      padding: 0px;
      margin: 0px;
      font-size: 17px;
      color: #242E6D;
      font-family: Adobe 明體 Std L;
}

.row2 {
      float: left;
}
.food_icon01{
      background-image: url('/style/img/06-menu-salad.png');
      background-size: cover;
}
.food_icon02{
      background-image: url('/style/img/06-menu-service.png');
      background-size: cover;
}
.food_icon03{
      background-image: url('/style/img/06-menu-noodles.png');
      background-size: cover;
}
.food_icon04{
      background-image: url('/style/img/06-menu-hot-pot.png');
      background-size: cover;
}
.food_icon05{
      background-image: url('/style/img/06-menu-chicken.png');
      background-size: cover;
}
.food_icon06{
      background-image: url('/style/img/06-menu-pudding.png');
      background-size: cover;
}
.food_icon07{
      background-image: url('/style/img/06-menu-green-tea.png');
      background-size: cover;
}
.food_icon08{
      background-image: url('/style/img/06-menu-paper.png');
      background-size: cover;
}
.food_icon09{
      background-image: url('/style/img/06-menu-teapot.png');
      background-size: cover;
}
.food_icon10{
      background-image: url('/style/img/06-menu-cocktail.png');
      background-size: cover;
}
.food_icon11{
      background-image: url('/style/img/06-menu-beer.png');
      background-size: cover;
}
p{
      text-align: left;
}
#section-01 {
      width: 100%;
      height: 41vw;
}