#bg {
      position: fixed;
      z-index: -1;
      width: 100%;
      height: 100vh;
}

#bgcolor {
      width: 100%;
      height:100vh;
      background-color: rgba(0, 0, 0, 0.5);
}

#page01 {
      width: 100%;
      height: 100vh;
      float: left;
}

#page01_main01 {
      width: 100%;
      height: 140px;
      float: left;
}

#page01_indexlogo {
      width: 220px;
      height: 70px;
      background-image: url('../img/icon/index-logo.png');
      background-size: cover;
      float: left;
      position: fixed;
      left: 50px;
      top: 60px;
}
/*讓左上角文字logo不見*/
@media(max-width:1144px){
      #page01_indexlogo{
            display: none;
      }
            }

#page01_naabar {
      width: 600px;
      height: 140px;
      line-height: 140px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
}

ul {
      list-style-type: none;
      padding: 0px;
      margin: 0px;
}
@media(max-width:1144px){
     ul{
            display: none;
      }
            }

li {
      padding: 0px;
      float: left;
      font-size: 20px;
      font-family: Adobe 明體 Std L;
      margin-right: 50px;
      color: #FFDA8F;
}


#page01_main02 {
      width: 100%;
      height: calc(100vh - 140px);
      float: left;
      display: flex;
      justify-content: center;
}

#page01_all {
      width: 640px;
      height: 530px;
      padding-top: calc(50vh - 365px);
}

#page01_logo {
      width: 100%;
      height: 435px;
      background-color: rgba(0, 0, 0, 0);
      padding-right: 40px;
      background-image: url('../img/icon/page01-logo.png');
      background-size: cover;
      margin-bottom: 35px;
}

#page01_textbox {
      width: 640px;
      height: 60px;
}

.page01_textbox02 {
      width: 50%;
      height: 100%;
      border-right: 2px solid #FFDA8F;
      float: left;

}

.page01_textbox03 {
      width: 50%;
      height: 100%;
      border-left: 2px solid #FFDA8F;
      float: left;
}

p {
      padding: 0px;
      margin: 0px;
      font-size: 20px;
      font-family: Adobe 明體 Std L;
      text-align: center;
      color: #FFDA8F;
}

#changesize01 {
      margin-left: 85px;
}

#page01_textbox01 {
      width: 25px;
      height: 460px;
      position: fixed;
      right: 90px;
      top: 255px;
}

#page01_textbox01_upbox {
      width: 100%;
      height: 380px;
      background-image: url('../img/icon/textlogo-04-04.png');
      background-size: cover;
      margin-bottom: 15px;
}

#page01_textbox01_bmbox {
      width: 100%;
      height: 90px;
}
/*讓右邊文字logo不見*/
@media(max-width:884px){
      #page01_textbox01_upbox{
            display: none;
      }
            }
@media(max-width:884px){
      #page01_textbox01_bmbox{
                        display: none;
      }
            }

.iconbox {
      width: 100%;
      height: 25px;
}

.facebook {
      background-image: url('../img/icon/facebook.png');
      background-size: cover;
      margin-bottom: 17.5px;
}

.instagram {
      background-image: url('../img/icon/instagram.png');
      background-size: cover;
      margin-bottom: 17.5px;
}

.email {
      background-image: url('../img/icon/email.png');
      background-size: cover;

}

.carousel-indicators {
      position: fixed;
}

.carousel-indicators .active {
      background-color: rgba(255, 217, 142, 1);
}

.carousel-indicators li {
      background-color: rgba(255, 217, 142, 0.5);
}

#page01_naabar ul a:nth-child(5) li {
      margin-right: 0px;
}

#Burgersign{
      display: none;
      background-color:rgba(0, 0, 0, 0); 
	width:80px;
	height: 50px;
	float: left;
      position: relative;
      top:15px;
      right:15px;
	position: absolute;
}

@media(min-width:1155px){
      #Burgersign_01,.Burgersign02{
      display: none; 
      }   
}

@media(max-width:1155px){
      #Burgersign{
            display:inline-block;
      }
            }
#line01,#line02,#line03{
      width: 30px;
	height: 6px;
	background-color: #FFDA8F;
	position: absolute;
	left:50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
 #line01{
	position: absolute;
	top: 25%;
}
#line03{
	position: absolute;
	top: 75%;
}
#Burgersign:hover > #Burgersign_01{
	display: block;
}
#Burgersign_01{
	float: none;/*有浮動會跟logo排列一起*/
	margin: 0px;
	padding: 0px;
	line-height:normal;/*高度間距正常*/
	text-align:left;/*水平間靠右*/
	display: none;
	position: absolute;/*不然會被覆蓋掉*/
      top: 50px;
}
.Burgersign02{
      margin: 0px;
	color: #FFDA8F;
      z-index: 9999999;
      margin-bottom: 5px;
}
