* {
      box-sizing: border-box;
}

body {
      padding: 0;
      margin: 0;
      font-family: '微軟正黑體';
}

h2 {
      margin: 0px;
      padding: 0px;
      text-align: center;
      font-size: 25px;
      color: #FFDA8F;

      font-family: 'Adobe 明體 Std L';
}

p {
      margin: 0px;
      padding: 0px;
      text-align: center;
      font-size: 15px;
      color: #FFDA8F;
      font-family: '細明體_HKSCS';
}